<div class="sidebar">
    <input type="text" id="searchbar" placeholder="Cerca..." />
    <button id="searchbutton">Cerca</button>
    <hr>
    <h3>Lezioni Recenti</h3>
    <ol>
        <li *ngFor="let i of lista">{{i}}</li>
    </ol>
    <ul>
        <li>Linguaggi Client
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>JQuery</li>
                <li>Ajax JQuery</li>
            </ul>
        </li>
        <li>Linguaggi Server
            <ul>
                <li>PHP</li>
                <li>JSP</li>
                <li>Python</li>
                <li>SQL
                    <ul>
                        <li>SQL Server</li>
                        <li>MySQL</li>
                        <li>MariaDB</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>