<div  #about *ngIf="show">
    <h2>Ciao {{user}}</h2>
    <p>
		{{today | date: 'dd EEEE MMMM yyyy HH:mm:ss'}}
		{{money | currency}}
		Gente in cerca di se stessi nell'intento di trovare sfogo nell'informatica e nelle parole poco religiose
		pronunciate durante la fase di sviluppo del software: Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsumLorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsum
		<br>
		<button (click)="printElement()">Print</button>
		<select (change)="hello(selectfield)" #selectfield>
			<option value="1">Saluta con l'alert</option>
			<option value="2">Saluta con Console</option>
		</select>
	</p>
</div>
<button id="button" (click)="showHidden()">Mostra/Nascondi</button>
<app-sidebar></app-sidebar>

<div class="mainpage">
	<h1>Esempio fi Testo</h1>
	<br>
	<!-- codice -->
	<code>
		x = 1; <br>
		y = 2; <br>
		1 + 1 = 2; <br>
		x + y = 2;
		</code>

	<br>

	<pre>
		<code>
		x = 1;
		y = 2;
		1 + 1 = 2;
		x + y = 2;
		</code>
		</pre>

	<br>

	<p>Usa <kbd>Ctrl + C</kbd> per copiare e <kbd>Ctrl + V</kbd> per incollare!</p><br>
	<p>Tutti conoscono l'errore 404, ma non tutti conoscono <samp>Error 502 bad getway!</samp></p>
	<br>
	<p>La matematica è un'opinione infatti la formula dice che <var>2 + 2 = 22</var></p>

</div>